.show {
  display: auto;
}

.hide {
  display: none;
}

.input-list-columns {
  display: grid;
  grid-template-columns: 50px 3fr 2fr 1fr;
  text-align: center;
  margin-top: 1px;
}

.input-list-rows {
  border-left: 1px #30475e dashed;
  text-align: center;
}

.list-name {
  font-size: 1.1rem;
  font-weight: bolder;
  color: #30475e;
}

.plus-button {
  margin-top: 7px;
  margin-left: 13px;
}

.no {
  border-left: 0px;
}
