.container {
  display: grid;
  justify-items: center;
}

.app {
  width: 640px;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: 5px 0px 5px 0px;
  color: #f5f5f5;
  background-color: #30475e;
  /* border-radius: 5px; */
}

.information {
  padding-bottom: 5px;
}

.channelSheet {
  background-color: #f5f5f5;
  padding: 10px 10px 50px 10px;
}

.show {
  display: auto;
}

.hide {
  display: none;
}
